{% load static %}
<script src="{% static 'jquery/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'adminlte/js/fastclick.js' %}" type="text/javascript"></script>
<script src="{% static 'adminlte/js/app.js' %}" type="text/javascript"></script>
<script src="{% static 'adminlte/js/adminlte.min.js' %}" type="text/javascript"></script>
<script src="{% static 'jquery/jquery.sparkline.min.js' %}" type="text/javascript"></script>
<script src="{% static 'jquery/jquery-jvectormap-1.2.2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'jquery/jquery-jvectormap-world-mill-en.js' %}" type="text/javascript"></script>
<script src="{% static 'jquery/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
<script src="{% static 'adminlte/js/Chart.js' %}" type="text/javascript"></script>
